/* Changed default styling and set global font */

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

p {
    margin: 0px;
    font-size: 12px;
}

/* Set fixed header */

header {
    width: 100vw;
    height: 17vh;
    position: sticky;
}

/* Styling for the searchbar section of the header */

.searchbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
    margin: 0.5vh 0px;
}

.searchbar--input {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70vw;
    height: 7vh;
    padding-left: 20px;
    border: 1px solid rgb(227, 226, 226);
    border-radius: 50px;
    box-shadow: 0px -25px 20px -27px rgba(0,0,0,0.45),
                25px 0px 20px -24px rgba(0,0,0,0.45),
                0px 25px 20px -26px rgba(0,0,0,0.45),
                -25px 0px 20px -24px rgba(0,0,0,0.45);
}

.searchbar--icon {
    height: 2.5vh;
    width: 2.5vh;
}

.searchbar--text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 80%;
    margin-left: 20px;
}

.searchbar--filter--button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid rgb(144, 144, 144);
    border-radius: 50%;
    width: 5vh;
    height: 5vh;
    margin-right: 3vh;
}

.searchbar--filter--icon {
    height: 2.5vh;
    width: 2.5vh;
}

/* Styling for the slider section of the header */

.slider {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    border-bottom: 1px solid rgb(227, 226, 226);
    box-shadow: 0px 25px 20px -35px rgba(0,0,0,0.45);
}

.slider--boxes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    opacity: 0.7;
}

.slider--images {
    height: 3.5vh;
    width: 3.5vh;
}

/* Set fixed options container */

.options {
    position: sticky;
    width: 100vw;
    height: 18vh;
}

/* Styled options banner and map button */

.options--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.options--button {
    margin-top: 12px;
    border-radius: 50px;
    background-color: black;
    color: white;
    width: 11vh;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options--button p {
    margin-right: 5px;
}

.options--button svg {
    margin-left: 5px;
}

.options--banner {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    width: 100%;
    height: 50%;
    border-top: 1px solid rgb(227, 226, 226);
    box-shadow: 0px -25px 20px -35px rgba(0,0,0,0.45);
}

.options--option {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0px 20px;
}

.options--option p {
    margin-top: 5px;
    font-size: 10px;
}

.options--images {
    height: 3.2vh;
    width: 3.2vh;
}

/*Set footer component */

.footer--container {
    background-color: rgb(246, 246, 246);
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 25px;
}

/*Styled inspiration section */

.footer--inspirations {
    width: 100%;
    padding-bottom: 18px;
    border-bottom: 2px solid rgb(212, 212, 212);
    box-shadow: 0px 25px 20px -40px rgba(0,0,0,0.45);
}

.footer--title {
    font-size: 22px;
    margin-bottom: 25px;
    letter-spacing: -1px;
}

.footer--choices {
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}

.footer--choices p {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
}

/* Styled destination section */

.footer--destinations {
    display: flex;
    justify-content: flex-start;
    width: 100vw;
    padding-bottom: 50px;
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 25px 20px -40px rgba(0,0,0,0.45);
}

.footer--destinations--column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer--destinations--column p {
    font-size: 14px;
    letter-spacing: -1px;
    color: rgb(48, 48, 48);
}

.footer--destinations--link {
    margin: 30px 85px 0px 0px;
}

/* Styled support, hosting and Airbnb sections*/

.footer--box {
    width: 100vw;
    padding-top: 12px;
    padding-bottom: 27px;
    border-bottom: 1px solid rgb(212, 212, 212);
    box-shadow: 0px 25px 20px -40px rgba(0,0,0,0.45);
}

.footer--box p {
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: -1px;
}

/* Styled info/legal/license section*/

.footer--info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer--info p {
    margin-bottom: 15px;
    font-size: 13px;
    
}

.footer--country {
    display: flex;
    padding: 27px 0px 12px 0px;
}

.footer--country svg {
    margin-right: 8px;
}

.footer--country--item {
    margin-right: 16px;
}

/*Set main component and styled "Show more" button/section */

main {
    width: 100vw;
}

.more--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 55px;
    margin-bottom: 30px;
}

.more--title {
    font-size: 18px;
    letter-spacing: -1px;
    font-weight: 900;
}

.more--button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-color: black;
    margin-top: 15px;
    padding: 13px 23px;
}

.more--button p {
    color: white;
    font-size: 14px;
    letter-spacing: -1px;
    font-weight: 900;
}